* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
}
.sidebar {
  align-items: center;
  padding-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(3, 2, 2);
  left: 0px;
  width: 300px;
  height: 200vh;
  position: fixed;
  border-right: 10px solid rgb(6, 145, 99);
}
.sidebar:hover {
  left: 0;
  transition: all 1.5s ease;
  cursor: pointer;
  border-top-right-radius: 20px;
}
.sidebar button {
  background: rgb(103, 101, 101);
  color: white;
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.sidebar button:hover {
  background: rgb(6, 145, 99);
}
.savol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 20px 20px;
}
.savol h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.savol p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  color: grey;
}
.savol img {
  width: 70%;
  padding: 30px;
  margin: auto;
}
.savol ul li {
  font-size: 20px;
  color: grey;
}
.savol h2 {
  text-align: center;
  padding: 10px;
}
.savol span {
  font-size: 20px;
  color: black;
  font-weight: 900;
  padding: 20px;
  background: rgb(215, 152, 68);
}
.savol ol li {
  font-size: 20px;
  text-align: left;
}
.tips h2 {
  text-align: center;
}
.tips ol {
  padding: 50px;
}
.tips ol li {
  font-size: 20px;
  color: gray;
}
input {
  display: none;
}
label {
  padding: 10px 20px;
  font-size: 20px;
  background: rgb(0, 128, 117);
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}
label:hover {
  background: rgb(10, 130, 154);
}
.content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  display: none;
  max-width: 100%;
}
.content img {
  width: 50%;
}
#strelka {
  width: 20%;
}
.content button {
  background: rgb(9, 144, 45);
  color: white;
  width: 30%;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.topshiriq {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}
.topshiriq p {
  text-align: left;
}
.content button:hover {
  background: rgb(75, 145, 169);
}
input:checked ~ label ~ .content {
  display: flex;
}
#datatypes {
  display: none;
}

#operatorlar {
  border-top: 10px solid rgb(68, 81, 86);
  display: none;
}
#loops {
  border-top: 10px solid rgb(68, 81, 86);
  display: none;
}
#functions {
  border-top: 10px solid rgb(68, 81, 86);
  display: block;
}
#objects {
  border-top: 10px solid rgb(68, 81, 86);
  display: none;
}
#Array {
  border-top: 10px solid rgb(68, 81, 86);
  display: none;
}
/* .if_label {
  background: red;
}
.begin_label {
  background: rgb(34, 125, 31);
}
.case_label {
  background: rgb(198, 127, 35);
}
.if_davomi_label {
  background: rgb(169, 40, 94);
}
.array_label {
  width: 30%;
  background: rgb(158, 96, 60);
}
.array_label:hover {
  background: rgb(134, 77, 77);
} */
@media screen and (max-width: 1400px) {
  .sidebar {
    left: -280px;
  }
  .sidebar:hover {
    left: 0;
    transition: all 1.5s ease;
    cursor: pointer;
    border-top-right-radius: 20px;
  }
}
@media screen and (max-width: 768px) {
  .content img {
    width: 50%;
  }
  #strelka {
    width: 20%;
  }
  .content button {
    width: 30%;
    font-size: 15px;
    padding: 10px 10px;
  }
}
/* @media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    display: none;
    max-width: 100%;
  }
  .content img {
    width: 100%;
  }
  #strelka {
    width: 30%;
    transform: rotate(-90deg);
  }
  .content button {
    margin-top: 10px;
    width: 90%;
    font-size: 15px;
    padding: 10px 10px;
  }
} */
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  #strelka {
    width: 30%;
    transform: rotate(-90deg);
  }
  label {
    background: rgb(102, 178, 211);
    width: 70%;
  }
  .savol img {
    width: 100%;
  }
  .savol p {
    font-size: 18px;
  }
  .savol h1 {
    font-size: 24px;
  }
  .topshiriq {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .topshiriq button {
    width: 50%;
    background: rgb(196, 39, 57);
  }
}
